/* popup.css */
body {
    font-family: Arial, sans-serif;
    padding: 40px 6px 6px 6px;
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    background-color: #3498db;
}

.popup-container {
    background-color: #fff;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Container for buttons */
.button-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Style for individual buttons */
.button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.button:hover {
    background-color: #219d53;
}
.image{
    height: 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
}
.logo {
    background-color: #0b111d;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 4px;
}

.red-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.red-button:hover {
    background-color: #e23;
}

#running-task {
    display: none;
    margin-top: 10px;
}

#running-task-info {
    color: #27ae60;
    font-weight: bold;
    margin-right: 10px;
}

.task-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.select-container,
.button-container {
    text-align: left;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    height: 36px;
}

.running-task {
    margin-top: 20px;
}

.running-task-info {
    font-size: 16px;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 10px;
}
.grid-item {
    padding: 6px;
    font-size: 20px;
    display: grid;
    align-items: center;
}

.grid-container-clear {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}
.grid-item-clear {
    display: grid;
    align-items: center;
}

h1 {
    color: #27ae60;
}

.check-label {
    font-size: 14px;
}
